
  @import url('https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.hero_section{
    background: url(images/headerBackground.jpg);
    background-size: cover; 
    background-position: center; 
    color: white;
    height: 497px;
    width: 100%;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 25px 68px;
}
.navbar a{
    color:white;
    height: 50px;
    text-decoration: none;
}
.navbar_menu_container{
    display: flex;
    gap:18px;
}
.navbar_menu_container .user_icon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid white;
    display: none;
}

    /* hero section heading and search */
    .hero_sec_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        height: 30vh;
    }
    /* hero section zomato heading */
    .hero_section_head{
        width: 300px;
        height: 50px;
    }
    .hero_sec_h1{
        text-align: center;
        font-size: 40px;
       
    }
    .hero_sec_inp_container{
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 60%;
        border-radius: 10px;
    }
    .hero_sec_inp_container .hero_sec_inp_loc{
        padding: 5px;
        border: none;
        outline: none;

    }
    .hero_sec_inp_loc{
        width: 35%;
    }
    .location_styl{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin-left: -124px;
        background-color: white;
        
    }
    /* .location_styl .loc_icon,.location_styl .down_icon{
        position: absolute;
    } */
    /* .location_styl .loc_icon{
        padding-left: 10px;
    } */
    /* .loc_dwn_arr{
        border-right:2px solid grey;
        padding-left: -10px;
        padding-top: 10px;

    } */
     .hero_sec_inp_loc{
        height: 100%;
        width: 100%;
        margin-left: 10px;
        /* padding: 10px 155px 0 65px; */
    }
    .down_icon{
        border-right: 2px solid grey;
        letter-spacing: 2px;
    }
    .hero_sec_inp_container .hero_sec_inp_dish{
        padding: 5px;
        border: none;
        outline: none;
    }
    .dishes .hero_sec_inp_dish{
        width: 186%;
    }

    /* we offer */
    .container{
        margin: 3rem auto;
        width: 90%;
    }
    .we_offer{
        display: flex;
        flex-wrap: wrap;
        gap: 0.3rem;
        align-items: center;
        justify-content: space-evenly;
    }
    .we_offer_card{
        border-radius: 10px;
        /* background-color: aliceblue; */
        overflow: hidden;
        border: 1px solid aliceblue;
        margin: 10px;
        
    }
    .we_offer_card:hover{
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
    .we_offer_card img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    /* responsive */

@media only screen and (max-width:600px){
  
    .hero_section{
     
        height: 497px;
    }
    .navbar_menu_container .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
   
   
    .hero_sec_inp_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
  
   
    .hero_section_head{
        font-size: 10px;
        width: 35%;
        height: 30px;
        margin-top: 63px;

    }
    .hero_sec_h1{
        font-size: 20px;
    }
    .hero_sec_inp_container{
        margin-top: -46px;
    }
     .location_styl{
        margin-left: 1px;
        background-color: white;
        border-radius: 10px;
        /* padding-left: 10px; */
        width: 100%;
    } 
    .loc_icon{
        padding-left: 10px;
    }
    .down_icon{
        padding-right: 40px;
    }
    .dishes{
        background-color: white;
        border-radius: 10px;
        padding-left: 10px;
        width: 100%;
    }
    .dishes .hero_sec_inp_dish{
        /* margin-left: -70px; */
        width: 100%;
    }
    .down_icon{
        border-right: unset;
        letter-spacing: unset;
    }
    /* .location_styl{
        width: 100%;
        position: relative;
        padding: 10px;
    } */
    /* .loc_icon{
        position: absolute;
        left: 40px;
    }
    .down_icon{
        position: absolute;
    } */
    /* .location_styl .hero_sec_inp_loc{
        position: absolute;
        width:345px;
        height: 30px;
        margin-left: -173px;
        
    } */
}
/* @media(min-width:900px){
    .hero_section{
        min-height: 28vh;
    }
    .hero_sec_container{
        display: flex;
        gap:20px;
        height: 20px;
    }
} */